<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
<link href="core-includes/css/app.css?1" media="screen" rel="stylesheet" type="text/css" />

</head>

<body id="page">
<div id="header" class="login">
	<h1><a href="index.php">Blue Adventures</a></h1>
	<h2></h2>
</div>
<div id="app">
	<div class="form login">
		<div class="nav">
			<ul>
				<li><a href="#signin" class="tab selected">Entrar alsadsa sistema</a></li>
			</ul>
		</div>
		<form action="" id="login">
			<fieldset>
				<legend>Tus datos de acceso</legend>
				<ul>
					<li><label for="user">Usuario: </label><input type="text" name="user" id="user" />
					</li>
					<li><label for="password">Contraseña: </label><input type="text" name="password" id="password" /></li>
				</ul>
			</fieldset>
			<fieldset class="options">
				<ul>
					<li><label for=""></label><input type="submit" name="login" value="Enviar" /></li>
				</ul>
				
			</fieldset>
		</form>
		
	</div>
</div>

</body>
</html>
